<div>
    <a href="{{ routes.cart_url }}" data-ajax-cart-toggle-class-button="js-my-cart-open">
      My Cart
      <div data-ajax-cart-bind-state="cart.item_count" >{{ cart.item_count }}</div>
    </a>
</div>